<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[% feed.title %]</title>
    <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="/atom.xml"/>
    <style>
        @import url("style.css");
    </style>
  </head>
  <body>
  <img align="left" hspace="8" text="camelia" src="200px-Camelia.svg.png"/>
    <h1>[% feed.title %]</h1>
    <p>[% feed.description %]</p>
    <br/><br/>
[% FOREACH entry IN feed.entries %]
    <h2><a href="[% entry.link | url | html %]">[% entry.title | html %]</h2></a>
[% IF entry.author OR entry.issued %]
    <p><h3>Published[% IF entry.author %] by [% entry.author | html; END %]
    [% IF entry.issued %] on [% entry.issued | html; END %]</h3></p>
    [% entry.content.body %]
[% END %]
[% END %]
    <hr />
    <address>[% feed.author | html %] / [% feed.modified | html %]</address>
  </body>
</html>
